<template>
  <v-content>
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card class="mb-3">
            <v-card-media src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="300px"></v-card-media>
            <v-card-title primary-title>
              <v-avatar size="120" color="black lighten-1">
                <img src="https://vuetifyjs.com/apple-touch-icon-180x180.png" alt="avatar">
              </v-avatar>
              <v-layout row wrap>
                <v-flex offset-md2>
                  <p class="title mb-0">{{getClientDetails.name}}</p>
                  <p class="grey--text">client</p>
                </v-flex>
                <v-flex>
                  <p class="title mb-0">{{getClientDetails.phone}}</p>
                  <p class="grey--text">Phone Number</p>
                </v-flex>
                <v-flex>
                  <p class="title mb-0">{{getWebsiteOverview.length}}</p>
                  <p class="grey--text">Active websites</p>
                  
                </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xl7 lg7 md7 sm12>
          <v-card v-if="getClientDetails.coords">
            <v-toolbar color="blue-grey darken-4" dark>
              <v-toolbar-title>Location</v-toolbar-title>
            </v-toolbar>
            <GmapMap :center="{lat: getClientDetails.coords._lat, lng: getClientDetails.coords._long}" :zoom="12" map-type-id="terrain" style="width: 100%; height: 400px" >
              <GmapMarker ref="myMarker" :position="{lat: getClientDetails.coords._lat , lng: getClientDetails.coords._long}" />
            </GmapMap>
            <v-card-actions>
              <v-spacer/>
              <v-btn flat target="_blank" :href="'http://maps.google.com/maps?daddr='+getClientDetails.coords._lat+','+getClientDetails.coords._long">Directions <v-icon>directions</v-icon></v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>

        <v-flex xl5 lg5 md5 sm12>
          <v-card>
            <v-toolbar color="blue-grey darken-4" dark>
              <v-toolbar-title>Latest Websites</v-toolbar-title>
            </v-toolbar>
            <v-list dense>
            <v-list-tile v-for="(website, i) in getWebsiteOverview" :key="i">
              <v-list-tile-content class="align-left"><a v-bind:href="'http://'+website.website" target="_blank">{{website.website}}</a></v-list-tile-content>
            </v-list-tile>
            </v-list>
            <v-card-actions>
                <v-spacer/>
                <v-btn flat :to="{path:'/clients/'+this.$route.params.client+'/websites'}">View all <v-icon>chevron_right</v-icon></v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import { mapGetters,mapActions } from "vuex";
  export default {
    data() {
      return {
        count: 5
      }
    },
    mounted() {
              // this.center = {lat: this.latcoords, lng: this.lngcoords};
        this.fetchClientDetails(this.$route.params.client);
        this.fetchWebsiteOverview({clientId:this.$route.params.client, count: this.count})
    },
    computed: {
      ...mapGetters(["getClientDetails", "getWebsiteOverview"])
    },

    methods: {
      ...mapActions(["fetchClientDetails", "fetchWebsiteOverview"]),
    },
  };

</script>

<style scoped>
  .v-avatar {
    position: absolute;
    bottom: 50px;
  }

</style>
