.mb0{
    margin-bottom: 0px;
}
.pb0{
    padding-bottom: 0px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb40{
    margin-bottom: 40px;
}
.mb50{
    margin-bottom: 50px;
}
.mt0{
    margin-top: 0px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.p30{
    padding: 30px 0 30px 0;
}
.fw-light{
    font-weight: 300;
}
.fw-thin{
    font-weight: 100;
}
.fw-bold{
    font-weight: bold;
}
.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    // .navbar-nav > li > a, .navbar-right > li > a{
    //   /* (80px - line-height of 27px) / 2 = 26.5px */
    //   padding-top: 56.5px;
    //   padding-bottom: 26.5px;
    //   line-height: 27px;

    // }
    .navbar-right > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-right{
        margin-right: 0px;
    }
  }


  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }
  
  .col-xs-15 {
      width: 20%;
      float: left;
  }
  
  @media (min-width: 992px) {
      .col-md-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 1200px) {
      .col-lg-15 {
          width: 20%;
          float: left;
      }
  }



