@import 'mixins';
@import 'helpers';
@import 'components/cards.scss';

$black: #231f20;
$red: #c3002f;
$grey: #e6e7e8;



// .videoContainer 
// {
//     position:absolute;
//     height:100%;
//     width:100%;
//     overflow: hidden;
// }

// .videoContainer video 
// {
//     min-width: 100%;
//     min-height: 100%;
// }
