<template>
  <v-content>
    <v-container>
      <v-layout>
        <v-flex>
          <h1>admin dashboard</h1>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  export default {

  }
</script>

<style scoped>

</style>