<template>
    <v-content>
      <v-container>
        <v-layout row wrap>
          <v-flex xs6>
        <v-card v-for="(credential, key, idx) in getForms" :key="idx">
            <v-card-title primary-title dark>
                <h3 class="headline mb-0">{{key}}</h3>
            </v-card-title>
            <v-card-text v-for="(cred, idx) in credential" :key="idx">
                <v-text-field
                :placeholder=cred
                readonly
                disabled
                box
                ></v-text-field>
            </v-card-text>
            
        </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
    export default {
        data() {
            return {
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
      
            }
        },
        computed:{
        ...mapGetters(['getForms'])
        },
        methods:{
            ...mapActions(['fetchForms'])
        },
        mounted(){
            this.fetchForms();
        }
    }
</script>

<style scoped>

</style>