<template>
  <v-content>
    <v-container fill-height>
      <v-layout row justify-center align-center>
        <v-flex xs12 sm4>
          <v-card class="elevation-12">
            <v-toolbar dark color="teal darken-3">
              <v-toolbar-title>Login</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field prepend-icon="person" name="email" label="Email" type="text" v-model="form.email"></v-text-field>
                <v-text-field prepend-icon="lock" :append-icon="showPassword ? 'visibility_off' : 'visibility'" :type="showPassword ? 'text' : 'password'" name="password" label="Password" id="password" v-model="form.password" @click:append="showPassword = !showPassword"></v-text-field>
                <p v-if="errorMsg" class="red--text">Wrong credentials</p>
              </v-form>
            </v-card-text>
            <v-card-actions>
                  <v-progress-circular
                    :width="3"
                    color="teal"
                    indeterminate
                    v-if="showSpinner"
                  ></v-progress-circular>
              <v-spacer></v-spacer>
              <v-btn color="teal darken-3 white--text" @click="signIn">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import firebase from 'firebase';
export default {
name: 'Login',
  data () {
    return {
        form: {
            email: null,
            password: null
        },
        errorMsg: false,
        showSpinner: false,
        showPassword: false
    }
  },
  methods:{
      signIn: function(){
        this.showSpinner = true;
        this.errorMsg = false;
        setTimeout(() => {
          firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password).then(
              (user) =>{
                  this.$store.commit('setCurrentUser', user)
                  this.$router.push('/')
              },
              (err) =>{
                  this.showSpinner = false
                  this.errorMsg = true;
                  console.log(err);
              }
          );          
        }, 500);
      }
  }
}
</script>

<style scoped>

</style>